/* src/components/Login.css */

body {
  background-color: #F9FAF4;
  font-family: 'Montserrat', sans-serif;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  width: 480px;
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
  text-align: center;
}

.login-box img {
  width: 270px;
  height: 59px;
  margin: 0 auto 1rem;
}

.login-box input {
  width: 438px;
  height: 52px;
  border-radius: 0.5rem;
  border: none;
  background-color: #F1F1F1;
  margin: 0.5rem 0;
  padding-left: 1rem;
  font-size: 20px;
}

.login-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.login-button,
.forgot-button {
  background-color: #1A4C66;
  color: white;
  border: none;
  border-radius: 1rem;
  padding: 0.75rem 2rem;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-button:hover,
.forgot-button:hover {
  background-color: #14394d;
}

.version-text {
  font-size: 10px;
  color: #777;
  margin-top: 1rem;
}
